body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.90;
  font-weight: 300;
  color: #303030;
  letter-spacing: 0.05em;
  background-color: #F9F9F9;
}

#site{
  .title{
    text-align: center;
  }
  .desc{
    text-align: center;
    max-width: 40%;
    min-width: 20%;
    margin: 0 auto;

  }
}