upstream unicorn {
  server unix:/tmp/unicorn.<%= node['app'] %>.sock fail_timeout=0;
}

server {
  server_name www.<%= node['app'] %>.com;
  return 301 $scheme://<%= node['app'] %>.com$request_uri;
}

server {
  client_max_body_size 11m;
  listen 80 default deferred;
  server_name <%= node['app'] %>.com;
  root /var/www/<%= node['app'] %>/current/public;

  location ^~ /assets/ {
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }

  try_files $uri/index.html $uri @unicorn;
  location @unicorn {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://unicorn;
  }

  error_page 500 502 503 504 /500.html;
  keepalive_timeout 5;
}